.rightnavbar {
    justify-content: flex-end;
}
.fzcolorttu {
    text-transform: uppercase;
    font-size: 30px;
    font-family: 'Quintessential';
}
.container .collapse .spacingword .marcoltttu {
    margin: 0 50px;
    text-transform: uppercase;
}
.marcoltttu:last-child {
    margin-right: 0;
    text-transform: uppercase;
}
.introimage {
    width: 100%;
}
.with100perc {
    width: 100%;
    object-fit: cover;
    /* height: 600px; */
}
h5 {
    color: gray;
    text-transform: uppercase;
    font-weight: normal;
}
h1 {
    color: rgb(65, 65, 65);
}
p {
    color: #7e7e7e;
    font-size: 18px;
}
.ttucolor {
    color: gray;
    text-decoration: none;
}
.form-control {
    background-color: rgba(255, 255, 255, 0);
    border: 0;
    border-bottom: 1px solid black;
    border-radius: 0;
    padding: 5px 0;
    margin: 0;
}
.form-control:focus {
    background-color: rgba(255, 255, 255, 0);
    border: 0;
    border-bottom: 1px solid black;
    border-radius: 0;
    padding: 5px 0;
    margin: 0;
    outline: 0;
    box-shadow: 0;
}
.form-control:focus{
    border-color: #d40d0d;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.btn:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
}
.btnabsolute {
    right: 0;
    top: -8px;
    font-size: 25px;
}
.loadmoreurl {
    font-size: 30px;
    padding: 10px 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border: 1px solid gray;
    color: gray;
}
.fontsiz {
    font-size: 19px;
}
.mleft {
    margin-left: 10px;
}
.wordspace {
    font-family: 'Times New Roman', Times, serif;
}
.iconscolor i {
    color: gray;
    margin-left: 15px;
}